body {
    overflow: hidden;
}

.root section {
    height: 100vh;
    text-align: center;
}

.root section img {
    margin-top: 50px;
}

.root section p {
    width: 70%;
    margin: 20px auto;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 38px;
}